@import "variables";

.action-page {
    .action-ctnr {
        .action-body-ctnr {
            margin: 5;
            margin-top: 0;
            padding: 25;
            background: $color-temp;
        }
        .action-title-ctnr {
            padding: 10 25;

            .action-main-title {
                text-align: right;
                font-size: 18;
                font-weight: 700;
                color: $color-text-light;
            }
        }
        .action-back-btn {
            padding: 10 25;
        }
    }
}