@import "variables";

.answers-a-wrapper {
    width: $content-width;
}

.answers-a-select-ctnr {
    width: 50%;
}
.answers-a-select{
    width: 250;
}
.answers-a-ctnr {
    color: black;
    margin: 0 5 10 5;
    padding: 12 10;
    border-radius: $border-size;
    Label {
        font-weight: 500;
    }
}
.answers-scale {
    background-color: #acd6b5;
    color: #373c51;
    // margin-bottom: 5;
}
.answers-scale-text {
    font-family: 'Nunito Sans', 'Nunito', sans-serif;
    font-size: 17;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10;
}
.answers-scale-bold-text {
    font-weight: 700;
}
.answers-free-ctnr {
    margin: 0 5 0 5;
    padding: 5 8;
    background: $color-unselected;
    border-color: $log-border-color;
    border-radius: $border-size;
}
.answers-free {
    height: $textview-height;
    margin: 0 5;
    text-align: left;
    background: $color-unselected;
}
