@import "variables";

.items-page {
    .items-ctnr {
        .items-main-ctnr {
            padding: 25;
            margin: 0;
            background: white;
        }
        .items-title-ctnr {
            margin-top: 25;
        }
        .items-title {
            font-size: $page-title-font-size;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
        .items-subtitle {
            font-size: 20;
            font-weight: 900;
            text-transform: uppercase;
        }
        .items-item-ctnr {
            margin-bottom: 40;
        }
        
        .spacer-ctnr {
            margin-bottom: 20;
        }
        .items-tab-ctnr {
            vertical-align: middle;
        }
        .items-tab {
            margin: 5 0;
            padding: 9 0 9 10;
            font-size: 20;
            font-weight: 700;
            border-radius: 10; 
            border-width: 3;
            border-color: $color-tab-border;
            background: white;
            transform: translateX(-10);
        }
        .items-icon {
            padding: 23 0 23 47.5;
            background: transparent;
        }
        .items-complete-icon {
            transform: translateX(30);
        }
        .items-main-ctnr {
            width: 100%;
        }
        .items-unit-ctnr {
            width: $content-width;
            margin-bottom: 40;
        }
        .items-q, .items-a {
            text-transform: none;
        }
        .items-q {
            text-align: left;
            margin-bottom: 20;
            margin-left: 5;
        }
        .items-spacer {
            width: 10;
            height: 440;
        }

        &.tablet-landscape {
            .items-title-ctnr {
                margin-top: 25;
            }
            .divider-ctnr {
                width: $content-width-landscape;
            }
            .items-unit-ctnr {
                width: $content-width-landscape;
            }
            .items-tab {
                font-size: 17;
            }
            .items-icon {
                padding: 21 0 21 47.5;
            }
            .answers-a-wrapper {
                width: $content-width-landscape;
            }
            .answers-a-select-ctnr {
                width: 50%;
            }
            .answers-a-select{
                width: 350;
            }
        }
    }
    
}
