@import "variables";

.items-page {
    .items-ctnr {
        .items-main-ctnr {
            padding: 25;
            margin: 0;
            background: white;
        }
        .items-title-ctnr {
            margin-top: 60;
            margin-bottom: 60; 
        }
        .items-title {
            font-size: $log-title-font-size;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: $color-text-dark;
        }
        .items-item-ctnr {
            margin-bottom: 60;
        }
        .items-subtitle-ctnr {
            margin-bottom: 20;
        }
        .items-subtitle {
            font-size: 20;
            font-weight: 400;
            text-transform: uppercase;
        }
        .divider-ctnr {
            width: 50;
            height: 1;
            background: black;
        }
        .items-tab-ctnr {
            vertical-align: middle;
        }
        .items-tab {
            margin: 5 0;
            padding: 10 15 10 25;
            font-size: 20;
            font-weight: 700;
            border-radius: 10; 
            border-width: 1.5;
            border-color: $color-dark-blue;
            background: white;
            transform: translateX(-10);
        }
        .items-main-ctnr {
            width: 100%;
        }
        // .items-item-ctnr {
        //     margin-bottom: 15;
        // }
        .items-unit-ctnr {
            width: 500;
            margin-bottom: 30;
        }
        .items-q, .items-a {
            text-transform: none;
        }
        .items-q {
            text-align: left;
            margin-bottom: 20;
        }
        .items-a-wrapper {
            width: 500;
        }
        .items-a-select-ctnr {
            width: 50%;
        }
        .items-a-select{
            width: 250px;
        }
        .items-a-ctnr {
            color: black;
            margin: 0 5 10 5;
            padding: 10;
            border-radius: $border-size;
            background: $color-unselected;
            Label {
                font-weight: 500;
            }
        }
        .items-free {
            height: $textview-height;
            margin: 0 5;
            padding: 5 8;
            // border-width: 1.5;
            text-align: left;
            background: $color-unselected;
            border-color: $log-border-color;
            border-radius: $border-size;
        }

        &.tablet-landscape {
            .items-title-ctnr {
                margin-top: 20;
                margin-bottom: 20; 
            }
            .items-unit-ctnr {
                width: 700;
            }
            .items-a-wrapper {
                width: 700;
            }
            .items-tab {
                font-size: 17;
            }
        }
    }
    
}
