@import "variables";

.items-page {
    .items-ctnr {
        .items-main-ctnr {
            padding: 25;
            margin: 0;
            background: white;
        }
        .items-title-ctnr {
            margin-top: 60;
        }
        .items-title {
            text-align: center;
            font-size: $log-title-font-size;
            font-weight: 700;
            color: black;
            margin-bottom: 5; 
        }
        .items-subtitle {
            margin-bottom: 20; 
        }
        .divider-ctnr {
            width: 50;
            height: 1;
            background: black;
        }
        .items-d {
            margin: 25 0;
            font-weight: 500;
        }
        .items-tab-ctnr {
            vertical-align: middle;
            // margin: 15 auto 0 auto;
        }
        .items-tab {
            padding: 10 20;
            border-radius: 5; 
            background: $color-temp;
            margin: 5 0;
            transform: translateX(-5);
        }
        .items-main-ctnr {
            width: 100%;
        }
        // .items-item-ctnr {
        //     margin-bottom: 15;
        // }
        .items-unit-ctnr {
            width: 500;
            margin-bottom: 30;
        }
        .items-q, .items-a {
            text-transform: none;
        }
        .items-q {
            text-align: left;
            margin-bottom: 20;
        }
        .items-a-wrapper {
            width: 500;
        }
        .items-a-select-ctnr {
            width: 50%;
        }
        .items-a-select{
            width: 250px;
        }
        .items-a-ctnr {
            background: $color-secondary;
            color: $color-text-light;
            margin: 0 5 10 5;
            padding: 10;
        }
        .items-free {
            height: $textview-height;
            margin: 0;
            padding: 5 8;
            border-width: 1.5;
            text-align: left;
            border-color: $log-border-color;
            border-radius: $border-size;
        }
    }
    
}
