@import "variables";

.others-page {
    .others-ctnr {
        .others-main-ctnr {
            margin: 5;
            background: white; 
        }
        .others-title-ctnr {
            margin-top: 25;
        }
        .others-title {
            font-size: $page-title-font-size;
            font-weight: 700;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }
        .others-subtitle {
            margin-top: 15;
            font-size: 22;
            font-weight: 900;
            text-transform: uppercase;
        }
        .others-unit-ctnr {
            width: $content-width;
            margin-bottom: 40;
        }
        .others-q {
            text-align: left;
            margin-left: 5;
            margin-bottom: 20;
        }

        .q-icon {
            margin: 20 30 20 0;
        }

        &.tablet-landscape {
            .others-title-ctnr {
                margin-top: 25;
            }
            .others-unit-ctnr {
                width: $content-width-landscape;
            }
            .answers-a-wrapper {
                width: $content-width-landscape;
            }
            .answers-a-select-ctnr {
                width: 50%;
            }
            .answers-a-select{
                width: 350;
            }
        }
    }
}