@import "variables";

.others-page {
    .others-ctnr {
        .others-main-ctnr {
            margin: 5;
            background: white; 
        }
        .others-title-ctnr {
            margin-top: 60;
        }
        .others-title {
            font-size: $log-title-font-size;
            font-weight: 700;
            color: $color-text-dark;
            text-align: center;
            text-transform: uppercase;
        }
        .others-subtitle-ctnr {
            margin-top: 10;
            margin-bottom: 40;
        }
        .others-subtitle {
            font-size: 20;
            font-weight: 400;
            text-transform: uppercase;
        }
        .divider-ctnr {
            width: 50;
            height: 1;
            background: black;
        }
        .others-q-ctnr {
            width: 500;
            margin-bottom: 20;
        }
        .others-q {
            text-align: left;
        }
        .others-a-ctnr {
            color: black;
            width: 500;
            margin: 5 0;
            padding: 10;
            border-radius: $border-size;
            background: $color-unselected;
            Label {
                font-weight: 500;
            }
        }
        .others-free {
            width: 500;
            height: $textview-height;
            margin: 15 0;
            padding: 5 8;
            // border-width: 1.5;
            text-align: left;
            background: $color-unselected;
            border-color: $log-border-color;
            border-radius: $border-size;
        }

        .q-icon {
            margin: 20 30 20 0;
        }

        &.tablet-landscape {
            .others-title-ctnr {
                margin-top: 20;
                margin-bottom: 20; 
            }
            .q-icon {
                margin: 10 30 10 0;
            }
            .q-question-ctnr {
                margin-top: 0;
            }
            .q-question-ans {
                margin: 15 0;
            }
            .others-q-ctnr {
                width: 700;
            }
            .others-a-ctnr {
                width: 700;
            }
            .others-free {
                width: 700;
            }
        }
    }
}