@import "variables";

.others-page {
    .others-ctnr {
        .others-main-ctnr {
            margin: 5;
            background: white; 
        }
        .others-title-ctnr {
            margin-top: 60;
        }
        .others-title {
            font-size: $log-title-font-size;
            font-weight: 700;
            color: $color-text-dark;
            text-align: center;
            text-transform: uppercase;
        }
        .others-subtitle-ctnr {
            margin-top: 10;
            margin-bottom: 40;
        }
        .others-subtitle {
            font-size: 20;
            font-weight: 400;
            text-transform: uppercase;
        }
        .divider-ctnr {
            width: 50;
            height: 1;
            background: black;
        }
        .others-unit-ctnr {
            width: 540;
            margin-bottom: 30;
        }
        .others-q {
            text-align: left;
            margin-left: 5;
            margin-bottom: 20;
        }

        .q-icon {
            margin: 20 30 20 0;
        }

        &.tablet-landscape {
            .others-title-ctnr {
                margin-top: 20;
                margin-bottom: 20; 
            }
            .others-unit-ctnr {
                width: 700;
            }
            .answers-a-wrapper {
                width: 700;
            }
            .answers-a-select-ctnr {
                width: 50%;
            }
            .answers-a-select{
                width: 350;
            }
        }
    }
}