@import "variables";

.choose-page, .catalogue-page{
    .choose-ctnr {
        .choose-main-ctnr {
            margin: 5;
            margin-top: 0;
            padding: 25;
            background: white;
        }
        .choose-title-ctnr {
            vertical-align: middle;
        }
        .choose-title {
            font-size: $page-title-font-size;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: black;
            margin-bottom: 20; 
        }
        .choose-warning {
            padding: 5;     
            background: $color-baby-yellow;
            Label {
                font-size: 16;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                text-transform: none;
            }
        }
        .choose-d {
            font-weight: 400;
            padding: 10 40; 
            Label {
                font-size: 13;
                text-align: center;
                text-transform: none;
            }
        }
        .choose-status-icon {
            margin: auto 10;
        }
        .choose-btn {
            font-size: 17;
            font-weight: 700;
            color: black;
            margin: 5;
            border-radius: $border-size;
            border-width: 3;
            background: $color-unselected;
        }
        &.tablet-landscape {
            .choose-main-ctnr {
                padding: 25 25 50 25;
            }
        }   
    }
}

.catalogue-page {
    .choose-ctnr {
        .choose-btn-ctnr {
            margin-top: 60;
            margin-bottom: 60;
        }

        &.tablet-landscape {
            .choose-main-ctnr {
                padding: 25;
            }
            .choose-btn-ctnr {
                margin-top: 20;
                margin-bottom: 20;
            }
        }   
    }
    .close-btn {
        margin: 25;
        horizontal-align: right;
        vertical-align: top;
    }  
    .nav-btn {
        margin-bottom: 60;
    }
    .form-btn {
        width: 250;
    }
}