@import "variables";

.new-client-page, .edit-client-page {
    width: 100%;
    height: 100%;

    .client-ctnr {
        background-color: white;

        .client-main-ctnr {
            padding: 20 80 0 80;
        }
        
        .client-title {
            font-size: $form-title-font-size;
            font-weight: 500;
            letter-spacing: 0.1;
            text-transform: uppercase;
            padding: 40 0;
        }
        .client-q, .client-t, .client-d, .client-free {
            font-weight: 500;
            letter-spacing: 0.1;
            text-align: left;
            margin-bottom: 10;
        }
        .client-switch-error {
            border-top-width: 1.5;
            border-color: $color-red;
            margin-bottom: 15;
        }
        .client-d {
            font-weight: 200;
            color: $color-text-gray;
        }
        .client-t {
            text-transform: uppercase;
        }
        .client-q {
            text-transform: uppercase;
        }
        .client-a {
            font-weight: 300;
            letter-spacing: 0.1;
            text-align: left;
            width: 100%;
            height: 50;
            padding: 0 8;
            background: white;
            border-color: $log-border-color;
            border-width: 1.5;
            border-radius: 8;
        }
        .client-e {
            font-size: 13;
            font-weight: 200;
            margin-top: 2;
            margin-bottom: 3;
            horizontal-align: right;
            color: $color-red;
        }
        .client-t-consent {
            margin-top: 3;
        }
        .client-free {
            font-weight: 300;
            letter-spacing: 0.1;
            text-align: left;
            width: 100%;
            height: 100;
            padding: 5 8;
            background: white;
            border-width: 1.5;
            text-align: left;
            border-color: $log-border-color;
            border-radius: $border-size;
        }
        
        .client-btn {
            margin: 30 auto;
        }

        &.tablet-landscape {
            .client-main-ctnr {
                padding: 0 80 0 80;
            }

            .client-title {
                padding: 10 0 0 0;
            }

            .client-q {
                margin-top: 10;
                margin-bottom: 0;
            }
            .client-switch-error {
                margin: 0;
            }
            .client-t-info {
                margin-bottom: 5;
            }
            .client-t-consent {
                margin-top: 3;
            }
            .client-d {
                margin-bottom: 5;
            }
            .client-a {
                width: 580;
                height: 45;
                margin-left: 30;
            }
            .client-e {
                padding: 0;
                margin-bottom: 0;
            }
            .client-btn {
                margin: 15 0;
            }
            .client-free {
                height: 80;
            }
        }
    }
}

.edit-client-page {
    .close-btn {
        margin: 25;
        horizontal-align: right;
        vertical-align: top;
    }  
    .client-ctnr {
        &.tablet-landscape {
            .client-main-ctnr {
                padding: 10 80 0 80;
            }

            .client-a {
                width: 620;
            }
        }
    }
}