@import "variables";


.home-page {
    width: 100%;
    height: 100%;

    .home-ctnr {
        width: 100%;
        height: 100%;
        margin: 0;
        background-image: url("~/assets/images/cap.png");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }
    .home-logo-ctnr {
        margin: 0 5;

        .home-logo {
            width: 230;
            horizontal-align: left;
            margin: 75 50 25 50;
        }
    }

    .home-setting {
        width: 25;
    }
    .home-user-ctnr {
        width: 400;
        margin: 50 0 0 0;
        
        .user-ctnr {
            width: 336;
            padding: 15 25;
            margin: 15 0;
            border-color: $color-light-yellow;
            border-width: 3;
            border-right-width: 0;
            border-radius: 25;
            background: white;
            transform: translateX(50);
        }
        .home-setting {
            transform: translateX(25);
        }
        .user-item {
            font-size: 15;
            line-height: auto;
            letter-spacing: 0.1;
            text-align: left;
            text-transform: uppercase;
        }
        .user-head {
            width: 35;
            height: 35;
            border-radius: 25;
            margin-top: 10;
            margin-right: 0;
        }
        .user-bold {
            font-size: 24;
            font-weight: 400;
            line-height: 0;
            text-transform: capitalize;
            letter-spacing: 0.02;
        }
        .user-text {
            line-height: 0;
        }
        .user-shift {
            margin-top: 15;
        }
        .edit-ctnr {
            padding-right: 25; 
        }
        .edit-icon {
            width: 20;
        }

        &.home-user-begin-ctnr {
            width: 300;
            
            .user-ctnr {
                width: auto;
                background: $color-dark-yellow;
                border-color: white;
                transform: translateX(50);
                padding: 25 25;
                margin: 25 0;
            }
            .home-setting {
                transform: translateX(30);
            }
            .user-begin-text {
                font-size: $user-begin-font-size;
                font-weight: 700;
                line-height: 0;
                text-align: right;
            }
            .edit-icon {
                width: 30;
                margin: auto 25;
            }
        }
    }

    .log-title-ctnr {
        background: white;
        margin: 5;
        padding: 50 0 25 0;
        margin: 0 $log-border 0 $log-border;
        border-color: $log-border-color;
        border-bottom-width: 0.5;

        .log-title {
            font-size: 18;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            color: black;
        }
    }
    
    .home-log-ctnr {
        margin: 0 $log-border;

        .home-log-null {
            font-family: 'Nunito', sans-serif;
            color: #777777;
            margin-top: 50;
            font-size: 18;
            font-weight: 200;
            letter-spacing: 0.05;
            text-transform: uppercase;
        }

        .user-head {
            margin: 20 30;
        }
        .client-item {
            position: relative;
            padding: 2 0;
            background: white;
            border-color: $log-border-color;
            border-bottom-width: 0.5;
        }
        .client-text {
            font-family: 'Nunito Sans', 'Nunito', sans-serif;
            font-size: 14;
            font-weight: 700;
            letter-spacing: 0.05;
            text-align: left;
            text-transform: uppercase;
        }
        .client-bold {
            font-family: 'Nunito', sans-serif;
            font-size: 18;
            font-weight: 900;
        }
        .client-light {
            padding-top: 10;
            font-weight: 200;
        }

        .edit-icon {
            margin-right: 25;
        }
        .bar-ctnr {
            width: 0.25;
            height: 50;
            background: $log-border-color;
        }
        .facetime-ctnr {
            position: relative;
            height: 100%;
            padding: 0 25;

        }
        .facetime-icon {
            position: relative;
            height: 100%;
        }
        .swipe-ctnr {
            background: white;
            border-color: $log-border-color;
            border-bottom-width: 0.25;
        }
        .delete-btn {
            padding: 0 18;
            font-weight: 700;
            background: $color-delete;
            color: white;
            height: 100%;
        }
    }

    .home-btn-ctnr {
        vertical-align: top;

        .home-add {
            width: 240;
            height: 70;
            border-radius: 50;
            margin: 0 auto;
            margin-top: $add-top-margin;
            font-size: 25;
            font-weight: 500;
            letter-spacing: 0.1;
            color: white;
            background: $color-dark-blue;
            text-transform: uppercase;
        }
    }

    &.tablet-landscape {
        .home-ctnr {
            background-image: url("~/assets/images/cap-landscape.png");
        }
        .home-logo-ctnr {
            .home-logo {
                margin: 40 0 0 50;
            }
        }
        .home-user-ctnr {
            margin: 15 0 0 0;
            

            &.home-user-begin-ctnr {
                .user-ctnr {
                    transform: translateX(40);
                    padding: 20 45;
                    margin: 30 0;
                }
                .home-setting {
                    transform: translateX(25);
                }
                .user-begin-text {
                    font-size: $user-begin-font-size-landscape;
                }
                .edit-icon {
                    width: 30;
                    margin: auto 25;
                }
            }
        }
        .log-title-ctnr {
            padding: 10 0 25 0;
        }
        .home-btn-ctnr {
            .home-add {
                margin-top: $add-top-margin-landscape;
            }
        }
    }
}