@import "variables";


.home-page {
    .home-logo {
        width: 250;
        margin: 25 auto;
    }
    .user-ctnr {
        background: $color-tertiary;
        padding: 25 auto;
    }
    .user-q {
        font-size: $input-font-size;
        letter-spacing: 0.1;
        padding: 10 60;
        text-align: left;
    }
    .user-a {
        font-size: $input-font-size;
        letter-spacing: 0.1;
        margin: 0 60 10 60;
        text-align: left;
        // border-bottom: 2 solid black;
        border-bottom-width: 1;
        border-bottom-color: black;
    }
    .home-add-btn {
        height: 150;
        font-size: 40;
        background: $color-secondary;
        color: $color-text-light;
        vertical-align: middle;
        text-align: center;
    }
    .patient-name {
        padding: 20 60;
        font-weight: 500;
    }
    .patient-phone {
        color: $color-text-gray;
        font-weight: 200;
    }
}