@import "variables";


.home-page {
    width: 100%;
    height: 100%;

    .home-ctnr {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .home-logo-ctnr {
        background: $color-temp;
        margin: 5;

        .home-logo {
            width: 200;
            horizontal-align: left;
            margin: 25;
        }
    }

    .home-user-ctnr {
        background: $color-temp;
        margin: 5;

        .user-ctnr {
            margin: 25 25;
            .user-head {
                width: 80;
            }
        }
        .user-q {
            font-size: $user-font-size;
            line-height: auto;
            letter-spacing: 0.1;
            margin: 2.5 10 2.5 0;
            text-align: left;
        }
        .user-a {
            width: 100%;
            height: 25;
            font-size: $user-font-size;
            line-height: 10;
            letter-spacing: 0.1;
            // text-align: left;
            // border-bottom: 2 solid black;
            border-bottom-width: 0;
            border-bottom-color: black;
        }
        .user-q3 {
            margin: 15 0 10 0;
        }
        .user-a3 {
            width: 150;
            font-weight: 500;
            font-size: 32;
            text-align: left;
            vertical-align: left;
            letter-spacing: 0;
            border-bottom-width: 0;
        }
        .edit-icon {
            width: 20;
        }
    }

    .log-title-ctnr {
        background: $color-tertiary;
        margin: 5;
        padding: 10 25;

        .log-title {
            text-align: right;
            font-size: 18;
            font-weight: 700;
            color: $color-text-light;
        }
    }
    
    .home-log-ctnr {
        margin: 0 5;

        .user-head {
            margin: 20 30;
        }
        .patient-item {
            padding: 2 0;
            background: white;
            border-color: #2b2b2b;
            border-bottom-width: 0.25;
        }
        .patient-top {
            padding-top: 7;
        }
        .patient-name {
            font-weight: 200;
            text-align: left;
        }
        .patient-phone {
            font-weight: 700;
            font-size: $list-bold-font-size;
            text-align: left;
        }
        .patient-time {
            padding-top: 5;
            text-align: left;
        }
        .patient-btn {
            padding: 0 25;
            background: $color-temp;
            height: 100%;
        }
        .edit-icon {
            margin-bottom: 10;
            margin-right: 15;
        }
        .facetime-ctnr {
            padding: 0 25;
            background: $color-temp;
        }
        .facetime-icon {
            height: 100%;
        }
        .swipe-ctnr {
            background: white;
            border-color: #2b2b2b;
            border-bottom-width: 0.25;
        }
    }

    .home-btn-ctnr {
        margin: 5;
        background: $color-secondary;

        .home-add {
            width: 150;
            height: 150;
            // vertical-align: center;
            margin: 50;
        }

        &.tablet-landscape {
            .home-add {
                margin: 150;
            }
        }
    }

    
}