@import "variables";

.diagnose-page {
    .diagnose-ctnr {
        .diagnose-main-ctnr {
            margin: 5;
            background: $color-temp;        
        }
        .diagnose-q-ctnr {
            margin-top: 80;
        }
        .diagnose-q {
        }
        .diagnose-a {
            background: $color-secondary;
            color: $color-text-light;
            height: 40;
            width: 400;
            margin: 20 0;
        }
    
        .back-btn {
        }
        .next-btn {
            
        }
        .q-icon {
            margin: 20 30 20 0;
        }

        &.tablet-landscape {
            .q-icon {
                margin: 10 30 10 0;
            }
            .q-question-ctnr {
                margin-top: 0;
            }
            .q-question-ans {
                margin: 15 0;
            }
        }
    }
}