@import "variables";

.navigation-ctnr {
    background: $color-unselected;
    
    // .nav-btn-ctnr {
    //     background: red;
    // }
    .navigation-close {
        margin: 10 96 8 30;
        font-size: 18;
        font-weight: 400;
        font-family: sans-serif;
        text-transform: capitalize;
        letter-spacing: 0.01;
    }
    .navigation-title {
        margin: 10 0 11 0;
        font-size: 18;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: black;
    }
    .navigation-btn {
        width: 114;
        height: 34;
        margin: 10 30 10 30;
        border-radius: 30;
        font-size: 12;
        font-weight: 700;
        letter-spacing: 0.05;
        text-transform: uppercase;
        color: white;
        background: $color-dark-blue;
    }
}