@import "variables";

.new-page {
    .new-ctnr {
        margin: 5;
        background: $color-temp;
    }
    .new-head {
        width: 150;
        vertical-align: top;
        horizontal-align: left;
    }

    .new-title-ctnr {
        padding: 10 25;

        .log-title {
            text-align: right;
            font-size: 18;
            font-weight: 700;
            color: $color-text-light;
        }
    }

    .new-form-ctnr {
        vertical-align: middle;
        margin: 40;

        .new-q {
            margin: 30 30 30 0;
            text-align: left;
        }
        .new-a {
            width: 80%;
            height: 40;
            padding: 0 5;
            background: white;
        }
        .new-consent-title {
            margin: 30 30 10 0;
        }
        .new-consent-body {
            width: 50%;
        }
        .new-btn {
            background: $color-secondary;
            color: $color-text-light;
            height: 40;
            width: 200;
            margin: 25 0;
        }
    }
}