@import "variables";

.options-page {
    .close-btn {
        margin: 25;
        horizontal-align: right;
    }  
    .options-ctnr {
        .options-title {
            font-size: $form-title-font-size;
            font-weight: 500;
            letter-spacing: 0.1;
            text-transform: uppercase;
            margin-bottom: 120;
        }
        .options-items-ctnr {
            background: white;
            border-color: $log-border-color;
            border-top-width: 0.5;
            margin: 0 50; 
        }
        .options-item {
            background: white;
            border-color: $log-border-color;
            border-bottom-width: 0.5;
            padding: 20 0;
        }
        .options-text {
            font-size: 24;
            font-weight: 700;
            letter-spacing: 0.05;
            text-transform: capitalize;
            margin-left: 25; 
        }
        .options-logout-btn {
            margin-bottom: 40;
        }
        .options-logo {
            margin-bottom: 20;
        }
        .options-credits {
            font-size: 16;
            font-weight: 400;
            letter-spacing: 0.05;
            margin-bottom: 40; 
        }
        .options-arrow {
            margin-right: 25; 
        }

        &.tablet-landscape {
            .options-title {
                margin-bottom: 80;
            }
            .options-logout {
                margin-bottom: 60;
            }
        }
    }
    


}