@import "variables";

.resources-ctnr {
    background: white;

    .resources-main-ctnr {
        vertical-align: middle;
    }
    .close-btn {
        margin: 25;
        horizontal-align: right;
        vertical-align: top;
    }  
    .resources-main-ctnr {
        margin: auto;
    }
    .divider {
        width: 80;
        height: 1.5;
        background: black;
        margin-right: 5;
    }
    .resources-title-ctnr {
        padding-top: 25;
        background: $color-light-yellow;
    }
    .resources-title {
        font-size: $page-title-font-size;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: black;
        margin-bottom: 5; 
    }
    .resources-subtitle {
        margin-bottom: 20; 
        text-transform: uppercase;
    }
    .resources-tab-ctnr {
        padding: 10 0 30 0;
        background: $color-light-yellow;
    }
    .resources-tab {
        padding: 3 8;
        font-size: 16;
        font-weight: 200;
        letter-spacing: 0;
        text-transform: capitalize;
        color: black;
        background: white;
        border-radius: 5;
        border-width: 1.5;
        border-color: black;
    }
    .resources-text {
        text-align: left;
        font-weight: 400;
    }
    .resources-sec-title {
        font-weight: 700;
        font-size: 24;
        text-transform: capitalize;
    }
    .resources-item-ctnr {
        padding: 0;
        margin: 25 0;
        & .resources-reco-ctnr {
            margin: 0;
        }
    }
    .resources-item {
        padding: 0 100;
        margin: 0;
    }
    .resources-item-title {
        font-weight: 700;
        text-transform: uppercase;
    }
}