@import "variables";

.sum-page {
    .summary-ctnr {
        background: white;
    
        .summary-main-ctnr {
            margin: 25 80;
        }
        .sum-title-ctnr {
            margin: $page-top-margin 0;
        }
        .sum-title {
            text-align: center;
            font-size: $page-title-font-size;
            font-weight: 700;
            color: black;
            margin-bottom: 20; 
            text-transform: uppercase;
        }
        .sum-sec-ctnr {
            margin-bottom: 30; 
        }
        .sec-title-ctnr {
            background: #f0f0f0;
            margin-bottom: 8;
            padding: 10 25;
        }
        .sec-content-ctnr {
            background: #f8f8f8;
            padding: 15 25;
        }
        .sum-sec-title {
            font-size: 18;
            font-weight: 700;
            text-align: left;
            text-transform: capitalize;
        }
        .sum-inner-ctnr {
            margin-right: 25;
        }
        .sum-step-title {
            font-size: 16;
            font-weight: 700;
            margin-bottom: 10; 
            margin-right: 25;
            vertical-align: top;
        }
        .sum-proto-title {
            font-size: 16;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 20; 
            horizontal-align: left;
        }
        .sum-item-title {
            font-size: 16;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 10; 
        }
        .sum-item-edit {
            vertical-align: top;
        }
        .sum-unit-ctnr {
            margin-bottom: 15; 
        }
        .sum-proto-ctnr {
            margin-bottom: 15; 
        }
        .sum-switch-ctnr {
            margin-top: 25;
        }
        .sum-text {
            font-size: 15;
            font-weight: 400;
            text-align: left;
            text-transform: none;
            vertical-align: top;
        }
        .sum-e-ctnr {
            border-top-width: 1.5;
            border-color: $color-red;
            margin-bottom: 0;
            margin-right: 10;
        }
        .sum-switch-e-ctnr {
            margin-top: 5;
            margin-bottom: 25;
        }
        .sum-e {
            font-size: 12;
            font-weight: 200;
            margin: 2 10 3 0;
            horizontal-align: right;
            color: $color-red;
        }
        // .sum-e-time {
        //     transform: translateX(40);
        // }
        // .sum-e-id {
        //     transform: translateX(20);
        // }
        // .sum-e-name {
        //     transform: translateX(0);
        // }
        .sum-bold {
            font-weight: 700;
            text-transform: none;
        }
        .sum-separate {
            margin-top: 10;
        }
        .sum-plan-unit {
            margin-bottom: 10;
        }
        .sum-pointy {
            width: 18;
            margin-top: 3;
            margin-right: 35;
            vertical-align: top;
        }
    
        .sum-btn {
            width: 220;
            margin-bottom: 25;
        }
        .submit-btn {
            margin-bottom: 80;
        }
    }
}


.reason-page {
    width: 100%;
    height: 100%;

    .reason-ctnr {
        background-color: white;
        .close-btn {
            margin-top: 25;
            margin-right: 25;
            horizontal-align: right;
            vertical-align: top;
        }  

        .reason-main-ctnr {
            padding: 0 80 0 80;
        }
        
        .reason-title {
            font-size: $page-title-font-size;
            font-weight: 500;
            letter-spacing: 0.1;
            text-transform: uppercase;
            margin-top: 35;
            margin-bottom: 25;
        }
        .reason-t, .reason-free {
            font-weight: 500;
            letter-spacing: 0.1;
            text-align: left;
            margin-bottom: 10;
        }
        .reason-q {
            font-weight: 400;
            letter-spacing: 0.1;
            text-align: left;
            margin-bottom: 10;
        }
        .reason-t {
            text-transform: uppercase;
        }
        .reason-u-text {
            font-size: 14;
            font-weight: 400;
            letter-spacing: 0.1;
            color: black;
            padding: 20 5;
        }
        .reason-u-text-bold {
            font-weight: 700;
            text-align: left;
        }
        .reason-head {
            width: 20;
            height: 20;
            border-radius: 10;
        }
        .reason-btn {
            margin-bottom: 40;
        }

        .reason-u-q {
            font-weight: 500;
            letter-spacing: 0.1;
            text-align: left;
            margin-bottom: 10;
            text-transform: uppercase;
        }
        .reason-a {
            font-weight: 300;
            letter-spacing: 0.1;
            text-align: left;
            width: 100%;
            height: 50;
            background: white;
            border-color: $log-border-color;
            border-width: 1.5;
            border-radius: 10;
            padding: 0 15;
        }
        .reason-e {
            font-size: 13;
            font-weight: 200;
            margin-top: 2;
            margin-bottom: 10;
            horizontal-align: right;
            color: $color-red;
        }

        &.tablet-landscape {
            .reason-main-ctnr {
                padding: 0 80 0 80;
            }

            .reason-title {
                padding: 10 0 0 0;
            }

            .reason-btn {
                margin: 15 0;
            }
        }
    }
}