@import "variables";

.sum-page {
    .summary-ctnr {
        background: white;
    
        .summary-main-ctnr {
            margin: 25 80;
        }
        .sum-title-ctnr {
            margin: $page-top-margin 0;
        }
        .sum-title {
            text-align: center;
            font-size: $page-title-font-size;
            font-weight: 700;
            color: black;
            margin-bottom: 20; 
            text-transform: uppercase;
        }
        .sum-sec-ctnr {
            margin-bottom: 30; 
        }
        .sec-title-ctnr {
            background: #f0f0f0;
            margin-bottom: 8;
            padding: 10 25;
        }
        .sec-content-ctnr {
            background: #f8f8f8;
            padding: 15 25;
        }
        .sum-sec-title {
            font-size: 18;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
        }
        .sum-inner-ctnr {
            margin-right: 35;
        }
        .sum-step-title {
            font-size: 16;
            font-weight: 700;
            margin-bottom: 10; 
            margin-right: 25;
            vertical-align: top;
        }
        .sum-proto-title {
            font-size: 16;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 20; 
            horizontal-align: left;
        }
        .sum-item-title {
            font-size: 16;
            font-weight: 700;
            text-decoration: underline;
            text-transform: uppercase;
            margin-bottom: 10; 
        }
        .sum-item-edit {
            vertical-align: top;
        }
        .sum-unit-ctnr {
            margin-bottom: 15; 
        }
        .sum-proto-ctnr {
            margin-bottom: 15; 
        }
        .sum-text {
            font-size: 15;
            font-weight: 400;
            text-align: left;
            text-transform: none;
            vertical-align: top;
        }
        .sum-bold {
            font-weight: 700;
            text-transform: none;
        }
        .sum-separate {
            margin-top: 10;
        }
        .sum-plan-unit {
            margin-bottom: 10;
        }
        .sum-pointy {
            width: 18;
            margin-top: 3;
            margin-right: 35;
            vertical-align: top;
        }
    
        .sum-btn {
            width: 220;
            margin-bottom: 25;
        }
        .submit-btn {
            margin-bottom: 80;
        }
    }
}

