
$color-unselected: #f5f5f5; 
$color-selected: #e5e5e5; 
$color-tab-border: #e3e3e3;


$border-size: 8;
$log-border: 25;
$log-border-color: #dbdbdb;
$add-top-margin: 60;
$add-top-margin-landscape: 90;
$page-top-margin: 20;
$page-top-margin-landscape: 20;
$textview-height: 150;
$content-width: 540;
$content-width-landscape: 700;

$color-baby-yellow: #fdf5da;
$color-light-yellow: #fcebb3;
$color-dark-yellow: #ffdd68;
$color-light-green: #acd6b5;
$color-dark-blue: #373C51; 
$color-red: #ff1f00;

$page-title-font-size: 20;
$form-title-font-size: 24;
$user-begin-font-size: 24;
$user-begin-font-size-landscape: 20;

