$color-primary: #bbbbbb; //#739849;
$color-secondary: #cccccc; // #0078AE;
$color-tertiary: #dddddd; // #c1d82f;
$color-temp: #eeeeee;

$color-text-light: white;
$color-text-gray: #777777;
$color-text-dark: black;


$q-font-size: 28;
$input-font-size: 28;
$log-title-font-size: 24;

$user-font-size: 15;
$list-font-size: 13;
$list-bold-font-size: 16;

$home-padding: 20 0;