$color-primary: #739849;
$color-secondary: #0078AE;
$color-tertiary: #c1d82f;
$color-temp: #eeeeee;

$color-text-light: white;
$color-text-gray: #777777;
$color-text-dark: black;

$user-font-size: 16;
$q-font-size: 28;
$input-font-size: 28;
$log-title-font-size: 24;
$list-font-size: 13;
$list-bold-font-size: 16;

$home-padding: 20 0;