@import "styles/variables";

Page {
    background: white;
    font-size: 16px;
    font-family: 'Nunito', 'proxima-nova', sans-serif;
}
ActionBar {
    background-color: white;
    color: black;
    // border: none;
}
Label {
    font-size: $list-font-size;
    text-align: center;
    letter-spacing: 0.05;
    vertical-align: middle;
    text-transform: uppercase;
}

.edit-icon {
    width: 20;
    horizontal-align: right;
}

.form-btn {
    width: 200;
    height: 60;
    border-radius: 30;
    margin: 0 auto;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 0.1;
    text-transform: uppercase;
    color: white;
    background: $color-dark-blue;
}

.back-btn, .next-btn, 
.resource-btn, .new-proto-btn {
    height: 60;
    border-radius: 10;
    margin: 0 auto 25 auto;
    font-size: 18;
    font-weight: 500;
    letter-spacing: 0.1;
    text-transform: uppercase;
    color: white;
    background: $color-dark-blue;
}
.back-btn, .next-btn {
    width: 120;
    margin: 0 auto 25 auto;
}
.next-btn, 
.resource-btn, .new-proto-btn {
    transform: translateX(10);
}
.back-btn {
    transform: translateX(-10);
}
.resource-btn {
    width: 200;
    margin: 15 auto 0 auto;
}
.new-proto-btn {
    width: 220;
    margin: 15 auto 0 auto;
}



@import "styles/dashboard";
@import "styles/user";
@import "styles/patient";
@import "styles/userBlock";
@import "styles/diagnose";
@import "styles/chooseProtocol";
@import "styles/assessItems";
@import "styles/assessOthers";
@import "styles/resources";
@import "styles/plans";

@import "styles/result";
@import "styles/settings";
